@import "./variables";

.hall-of-fame-container {
    background-image: url("../img/backgrounds/bg1.png");
    padding: 2rem;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.hof-items {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.hof-item {
    width: 100%;
    border: 3px solid $primaryColor;
    padding: 1rem;
    &.open {
        .hof-message {
            display: block;
        }
        .hof-dropdown-btn {
            transform: translateY(0) rotate(180deg);

        }
    }
    .hof-message {
        display: none;
        padding: 2rem;
        text-align: center;
        font-weight: bold;
    }
    .hof-profile {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;
        .hof-img {
            width: 80px;
            aspect-ratio: 1/1;
            border: 3px solid rgb(255, 230, 0);
            object-fit: cover;
        }
    }
    .hof-dropdown-btn {
        margin: 0 auto;
        display: block;
        transform: translateY(-50%);
        transition: transform 0.3s;
    }
}