@import "./variables";

.currency-select-container {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    select {
        color: black;
    }
}

.merch-items-container {
    @include grid-min-max-cols(2, 5, 200px, 2rem, 2rem);
    .merch-item {
        .merch-img {
            width: 100%;
        }
    }
}

.merch-container {
    @media screen and (max-width: 500px) {
        flex-direction: column-reverse;
        .merch-info {
            margin: 0 auto;
        }
    }
    display: flex;
    padding: 2rem;
    gap: 2rem;
    .merch-info {
        max-width: 300px;
        border: 4px solid $primaryColor;
        height: fit-content;
        padding: 1rem;
        .merch-info-title {
            font-family: PlayFair;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
        }
    }
    .merch-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        a, p {
            text-align: center;

        }
        a {
            color: lightblue;
            text-decoration: none;
        }
        .merch-price {
            font-family: PlayFair;
        }
    }
}

.merch-wrapper {
    padding: 2rem 0;
}